/***************
 * BASE STYLES * 
 ***************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #ffffff;
    --gray1: #f5f6f7;
    --gray2: #f0f2f5;
    --gray3: #dddfe2;
    --gray4: #8a8d91;
    --gray5: #737373;
    --gray6: #606770;
    --black: #1c1e21;
    --light-blue: #e7f3ff;
    --blue1: #1877f2;
    --blue2: #166fe5;
    --green1: #42b72a;
    --green2: #36a420;
    --red: rgb(245, 40, 40);
    --light-red: rgb(255, 183, 183);
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    background: var(--gray2);
}

input {
    border: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.container {
    min-height: 100vh;
}

.onLoad {
    /* display: none; */
    display: flex;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

/* animation */
.fade_in {
    animation: fadeIn linear .1s;
    -webkit-animation: fadeIn linear .1s;
    -moz-animation: fadeIn linear .1s;
    -o-animation: fadeIn linear .1s;
    -ms-animation: fadeIn linear .1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/********
 * FORM * 
 ********/

.formContainer,
.form {
    position: relative;
    display: flex;
    flex-direction: column;
}

.formContainer {
    max-width: 39.6rem;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    width: 100%;
    margin-bottom: 12rem;
}

.form {
    background: var(--white);
    padding: 1.6rem 1.6rem 2.4rem 1.6rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.formTitle {
    position: relative;
    text-align: left;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 24px;
    /* margin-bottom: 12px; */
}

.formTitle>p {
    margin-top: 10px;
    color: var(--gray6);
}

.formExit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
}

.formExit:hover {
    cursor: pointer;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    border: 1px solid var(--gray3);
    border-radius: 6px;
}

.inputError {
    border-color: var(--red);
    box-shadow: 0 0 0 2px var(--light-red);
}

.paramError {
    color: var(--red) !important;
}

.param_type {
    color: var(--gray4);
    float: left;
}

.inputContainer:focus-within {
    border-color: var(--blue1);
    box-shadow: 0 0 0 2px var(--light-blue);
}

.inputContainerPassword {
    margin: 1rem 0;
}


.formInput {
    width: 100%;
    padding: 0 1.6rem;
    color: var(--black);
    /* font-size: 1.2rem; */
}

.formInput:focus {
    outline: none;
}

.formInput:focus::placeholder {
    opacity: 0.5;
}

.formInput::placeholder {
    opacity: 0.9;
}

.formLogInBtn {
    height: 4.5rem;
    margin-bottom: 2rem;
    background: var(--blue1);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    transition: background-color 200ms ease-in;
    cursor: pointer;
}

.formLogInBtn.reg {
    background: var(--green1) !important;
}

.reg:hover {
    background: var(--green2) !important;
}

.formLogInBtn.recover,
.formLogInBtn.save,
.formLogInBtn.delete,
.formLogInBtn.cancel {
    font-size: inherit;
    height: 4rem;
    width: 6em;
    /* margin-left: auto; */
}

.cancel {
    background-color: #979797;
}

.cancel:hover {
    background-color: #727272 !important;
}

.delete {
    background-color: #f81212;
}

.delete:hover {
    background-color: #b90505 !important;
}

.formLogInBtn+.formLogInBtn {
    margin-left: 10px;
}

.formLogInBtn:hover {
    background: var(--blue2);
}

.formLogInBtn.recover {
    font-size: inherit;
    height: 4rem;
    width: 6em;
    margin-left: auto;
}

.form-forgot-password {
    font-size: 1.3rem;
    color: var(--blue1);
    align-self: center;
}

.form-forgot-password:hover {
    text-decoration: underline;
}

.divider {
    margin: 2rem 0;
    border-bottom: 1px solid var(--gray3);
}

.form-create-account-btn {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    background: var(--green1);
    color: var(--white);
    border-radius: 6px;
    font-weight: bold;
    align-self: center;
    padding: 0 1.6rem;
    transition: background-color 200ms ease-in;
}

.form-create-account-btn:hover {
    background: var(--green2);
}

/* Create a page for a celebrity, band or business */
.create-page-paragraph {
    position: relative;
    top: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

.create-page-link {
    font-weight: bold;
    color: var(--black);
}

.create-page-link:hover {
    text-decoration: underline;
}


@media screen and (min-width: 300px) {
    .container {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        transition: background-color 1 ease;
        /* padding-bottom: 15rem; */
    }

    .title-paragraph {
        margin-top: 2rem;
    }

    .formInput {
        font-size: 1.5rem;
    }

    .title-logo {
        margin: 0;
    }

}

/* These styles will be applied on devices with a width of at least 500px */
@media screen and (min-width: 500px) {
    .container {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.7);
        transition: background-color 1 ease;
        padding-bottom: 15rem;
    }

    .title-container {
        display: initial;
        width: 40rem;
    }

    .title-logo {
        height: 10.6rem;
        margin-left: unset;
    }

    .title-paragraph {
        font-size: 2.4rem;
        width: auto;
    }

    .form {
        width: 39.6rem;
    }

    .inputContainer {
        height: 5.2rem;
    }

    .formInput {
        font-size: 1.7rem;
    }

    .formLogInBtn {
        height: 4.8rem;
        font-size: 2rem;
    }

    .form-forgot-password {
        font-size: 1.4rem;
    }

    .form-create-account-btn {
        height: 4.8rem;
        line-height: 4.8rem;
        font-size: 1.7rem;
    }

    .create-page-paragraph {
        font-size: 1.4rem;
    }
}

/* These styles will be applied on devices with a width of at least 900px */
@media screen and (min-width: 900px) {
    .container {
        flex-direction: row;
    }

    .title-container {
        padding-bottom: 12rem;
        margin-right: 5rem;
        text-align: initial;
        margin-bottom: 0;
    }

    .title-logo {
        left: -30px;
    }
}

/* These styles will be applied on devices with a width of at least 1075px */
@media screen and (min-width: 1075px) {
    .title-container {
        width: 58rem;
        padding-bottom: 12rem;
        padding-right: 15rem;
        text-align: initial;
        margin-bottom: 0;
        margin-right: 0;
    }

    .title-paragraph {
        font-size: 2.8rem;
    }
}

.type_radio {
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.radio__input {
    display: none;
}

.radio__lable {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 700;
    border: 1px solid var(--blue1);
    border-radius: 8px;
    color: var(--blue1);
    /* background: #009578; */
}

.radio__lable:hover {
    cursor: pointer;
}

.radio__lable:not(:last-of-type) {
    margin-right: auto;
}

.radio__input:checked+.radio__lable {
    background: var(--blue1);
    color: #fff;
}